@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to left bottom,
    #a5c0f0,
    #9ab2fb,
    #9aa2ff,
    #a48fff,
    #b776ff,
    #b575ff,
    #b475ff,
    #b274ff,
    #9c8afd,
    #919bf4,
    #92a8e6,
    #9fb2d4
  );
  background-attachment: fixed;

  color: rgb(23, 23, 23);
}

hr {
  border: none;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: rgb(148 163 184);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(100 116 139);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(71 85 105);
}
