@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(
    to left bottom,
    #a5c0f0,
    #9ab2fb,
    #9aa2ff,
    #a48fff,
    #b776ff,
    #b575ff,
    #b475ff,
    #b274ff,
    #9c8afd,
    #919bf4,
    #92a8e6,
    #9fb2d4
  );
  background-attachment: fixed;

  color: rgb(23, 23, 23);
  font-weight: 400;
}

.dark body {
  /* background-image: linear-gradient( */
  /*   to left bottom, */
  /*   #132b57, */
  /*   #182a5c, */
  /*   #1f2860, */
  /*   #282563, */
  /*   #312165, */
  /*   #322266, */
  /*   #322368, */
  /*   #332469, */
  /*   #2b2a6a, */
  /*   #252f69, */
  /*   #203368, */
  /*   #1d3766 */
  /* ); */
  background-image: linear-gradient(
    to left bottom,
    #0c2044,
    #0f1f49,
    #151d4e,
    #1c1b52,
    #251755,
    #251856,
    #261856,
    #261957,
    #1f1d56,
    #182154,
    #132451,
    #10264e
  );
  background-attachment: fixed;

  font-weight: 300;

  color: #e2e8f0;
}

hr {
  border: none;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: rgb(148 163 184);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(100 116 139);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(71 85 105);
}
