@keyframes custom-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.custom-animate-spin {
  animation: custom-spin 1s linear infinite;
}
